@if (mode) {
  <div class="row justify-content-md-center">
    <div class="col col-md-8 col-lg-6">
      <dn-page-title [title]="mode === 'edit' ? editedUser!.displayName : 'Nouvel utilisateur'" />
      @switch (mode) {
        @case ('create') {
          <h1>Création d'un nouvel utilisateur</h1>
        }
        @case ('edit') {
          <h1>
            Modification de l'utilisateur <em>{{ editedUser!.displayName }}</em>
          </h1>
        }
      }

      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="mb-3">
          <label for="display-name" class="form-label">Nom</label>
          <input formControlName="displayName" class="form-control" id="display-name" />
          <div class="form-text">
            Ce nom est celui affiché dans l'application pour cet utilisateur
          </div>
          <val-errors controlName="displayName" label="Le nom" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Adresse email</label>
          <input formControlName="email" class="form-control" id="email" />
          <div class="form-text">
            L'utilisateur utilisera cette adresse pour se connecter, et recevra à cette adresse
            l'email de choix de mot de passe
          </div>
          <val-errors controlName="email" label="L'adresse email" />
        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              formControlName="admin"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="admin"
            />
            <label class="form-check-label" for="admin">Administrateur</label>
            <div class="form-text">
              Seuls les administrateurs peuvent gérer les utilisateurs et remplir les rapports
              d'activité
            </div>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="export"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="export"
            />
            <label class="form-check-label" for="export">Exporteur</label>
            <div class="form-text">Seuls les exporteurs voient la page d'export des activités</div>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="disabled"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="disabled"
            />
            <label class="form-check-label" for="disabled">Désactivé</label>
            <div class="form-text">
              Les utilisateurs désactivés ne peuvent plus accéder à l'application
            </div>
          </div>
        </div>
        <div class="text-end">
          <button class="btn btn-primary" [disabled]="saving.isSpinning()">
            <dn-spinning-icon
              [icon]="icons.save"
              [spinner]="saving"
              message="enregistrement en cours..."
            />
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
} @else {
  <dn-loading-spinner />
}
