<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-4">
    <h1 class="fs-4">Demande de réinitialisation de mot de passe</h1>

    <div *ngIf="emailSent" class="alert alert-success">
      Un email vous a été envoyé.<br />
      Consultez votre boîte aux lettres et suivez les instructions.
      <div class="alert alert-warning mt-2">
        <dn-icon [icon]="icons.warning" class="me-1"></dn-icon>
        Il arrive que l'email tombe dans les spams. Pensez à vérifier s'il s'y trouve.
      </div>
    </div>
    <ng-container *ngIf="!emailSent">
      <form [formGroup]="form" (ngSubmit)="sendEmail()">
        <div class="mb-3">
          <label for="email" class="form-label">Adresse email</label>
          <input formControlName="email" type="email" class="form-control" id="email" />
          <val-errors controlName="email" label="L'adresse email"></val-errors>
        </div>
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
        <div *ngIf="error" class="text-danger">
          La demande de réinitialisation a échoué.<br />
          Vérifiez que vous avez utilisé la bonne adresse email.
        </div>
      </form>
    </ng-container>
  </div>
</div>
