<ng-container *ngIf="vm$ | async as vm">
  <div class="row">
    <div class="col">
      <h1>Calendrier</h1>
    </div>
    <div class="col-auto">
      <a routerLink="/activities/new" class="btn btn-outline-secondary">
        <dn-icon class="me-1" [icon]="icons.addActivity"></dn-icon>
        Créer une activité
      </a>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-link" (click)="changeYear(vm.year - 1)">
      <span class="visually-hidden">Année précédente ({{ vm.year - 1 | number }})</span>
      <dn-icon [icon]="icons.left" class="fs-3"></dn-icon>
    </button>
    <h2 class="mx-2">{{ vm.year }}</h2>
    <button type="button" class="btn btn-link" (click)="changeYear(vm.year + 1)">
      <span class="visually-hidden">Année suivante ({{ vm.year + 1 | number }})</span>
      <dn-icon [icon]="icons.right" class="fs-3"></dn-icon>
    </button>
  </div>
  <div class="row g-0 border">
    <div
      *ngFor="let month of vm.months"
      class="col-12 col-md-4 col-lg-3 border mb-2 mb-md-0"
      style="min-height: 10rem"
    >
      <div class="px-2 py-1 bg-light border-bottom">
        <h3 class="fs-6 text-black m-0">{{ month.month | month: 'without-year' }}</h3>
      </div>
      <div class="px-2 py-1">
        <div *ngIf="month.activities.length === 0" class="m-5 text-center h-100 text-muted">
          Aucune activité
        </div>
        <div *ngFor="let activity of month.activities">
          <span
            class="px-1 rounded day-range"
            aria-hidden="true"
            [class.day-range-done]="activity.report && !activity.report.cancelled"
            [class.day-range-cancelled]="activity.report?.cancelled"
            [class.day-range-draft]="activity.draft"
            >{{ activity.dayRange }}</span
          >
          <span class="visually-hidden">{{ activity | activityDate }}</span>
          <a [routerLink]="['/activities', activity.id]">
            {{ activity.title }}
            <span *ngIf="activity.draft" class="badge bg-warning text-black">brouillon</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <dn-report [activities]="vm.reportActivities"></dn-report>
  </div>
</ng-container>
