<div *ngFor="let option of options; index as i" class="form-check form-switch">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    [id]="prefix + i"
    [checked]="option.checked"
    (change)="toggleOption(option)"
    (blur)="onTouch()"
  />
  <label class="form-check-label" [for]="prefix + i">{{ option.value }}</label>
</div>
<div class="mt-1">
  <label class="visually-hidden" [for]="prefix + 'add'">{{ addText }}</label>
  <div class="input-group input-group-sm">
    <input
      #addInput
      class="form-control"
      [id]="prefix + 'add'"
      (keyup.enter)="addOption(addInput.value, addInput)"
      [placeholder]="addText"
    />
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="addOption(addInput.value, addInput)"
    >
      <span class="visually-hidden">Ajouter</span>
      <dn-icon [icon]="icons.plus"></dn-icon>
    </button>
  </div>
</div>
