<dn-page-title title="Changement de mot de passe" />
<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-4">
    <h1 class="fs-4">Changement de mot de passe</h1>

    <ng-container>
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <div class="mb-3">
          <label for="current-password" class="form-label">Mot de passe actuel</label>
          <input
            formControlName="currentPassword"
            type="password"
            class="form-control"
            id="current-password"
          />
          <val-errors controlName="currentPassword" label="Le mot de passe actuel" />
        </div>
        <div class="mb-3">
          <label for="new-password" class="form-label">Nouveau mot de passe</label>
          <input
            formControlName="newPassword"
            type="password"
            class="form-control"
            id="new-password"
          />
          <val-errors controlName="newPassword" label="Le nouveau mot de passe" />
        </div>

        <div class="row align-items-center">
          <div class="col-sm-auto">
            <button class="btn btn-primary">Changer le mot de passe</button>
          </div>
          @if (error) {
            <div class="col-sm">
              <div class="text-danger">Le changement de mot de passe a échoué.</div>
            </div>
          }
        </div>
      </form>
    </ng-container>
  </div>
</div>
