<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col">
        <a [routerLink]="[activity.id]">
          <h3 class="card-title fs-4">{{ activity.title }}</h3>
        </a>
      </div>
      <div class="col-auto">
        <div class="badge bg-dark">{{ activity.type | activityType }}</div>
      </div>
    </div>
    <div class="row align-items-baseline">
      <div class="col-sm">
        <dn-icon class="me-1" [icon]="icons.date"></dn-icon>
        <span class="visually-hidden">Date de l'activité</span>
        <strong>{{ activity | activityDate }}</strong>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="info rounded p-2 mt-2 mt-md-0">
      <div>
        <dn-icon class="me-1" [icon]="icons.location"></dn-icon>
        <span class="visually-hidden">Lieu</span>
        {{ activity.location }}
        <span *ngIf="activity.intercommunality"> &ndash; {{ activity.intercommunality }} </span>
      </div>
      <div>
        <dn-icon class="me-1" [icon]="icons.animator"></dn-icon>
        <span class="visually-hidden">Animateur / Organisateur</span>
        {{ activity.animator }}
      </div>
      <div *ngIf="activity.roomToBook">
        <dn-icon class="me-1" [icon]="icons.bookToRoom"></dn-icon>
        <span>Salle {{ activity.roomToBook }} à réserver</span>
      </div>
    </div>
  </div>
</div>
