<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/activities', activity.id]">
          <h4 class="card-title fs-4">{{ activity.title }}</h4>
        </a>
        <div class="row align-items-baseline">
          <div class="col-sm">
            <dn-icon class="me-1" [icon]="icons.date" />
            <span class="visually-hidden">Date de l'activité</span>
            <strong>{{ activity | activityDate }}</strong>
          </div>
        </div>
      </div>
      <div class="col-auto text-end">
        <div>
          <div class="badge text-bg-dark">{{ activity.type | activityType }}</div>
        </div>
        @if (activity.draft) {
          <div>
            <div class="badge text-bg-warning mt-1">brouillon</div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="info-card rounded p-2 mt-2 mt-md-0">
      @if (activity.location) {
        <div>
          <dn-icon class="me-1" [icon]="icons.location" />
          <span class="visually-hidden">Lieu</span>
          {{ activity.location }}
          @if (activity.intercommunality) {
            <span> &ndash; {{ activity.intercommunality }} </span>
          }
        </div>
      }
      <div>
        <dn-icon class="me-1" [icon]="icons.animator" />
        <span class="visually-hidden">Animateur / Organisateur</span>
        {{ activity.animator }}
      </div>
      @if (activity.roomToBook) {
        <div>
          <dn-icon class="me-1" [icon]="icons.roomToBook" />
          <span>Salle {{ activity.roomToBook }} à réserver</span>
        </div>
      }
    </div>
  </div>
</div>
