<dn-page-title title="Carte des activités" />
@if (vm(); as vm) {
  <div class="row">
    <div class="col">
      <h1>Carte <span class="d-none d-sm-inline">des activités</span></h1>
    </div>
    <div class="col-auto">
      <a routerLink="/activities/new" class="btn btn-outline-secondary">
        <dn-icon class="me-1" [icon]="icons.add" />
        Créer une activité
      </a>
    </div>
  </div>

  <dn-year-selector />
  <div class="row">
    <div class="col-md-8 order-md-1 mb-4 mb-md-0">
      <div class="map border rounded">
        <dn-map
          [locations]="vm.mappedLocations"
          [focusedLocation]="vm.focusedLocation"
          class="d-block w-100 h-100"
        />
      </div>
    </div>
    <div class="col-md-4 order-md-0">
      @if (vm.mappedLocations.length + vm.unmappedLocations.length === 0) {
        <div class="text-body-secondary mt-md-4">Aucune activité en {{ vm.year }}</div>
      }
      @if (vm.mappedLocations.length) {
        <h2 class="fs-5" [class.visually-hidden]="vm.unmappedLocations.length === 0">
          Sur la carte
        </h2>
        @for (location of vm.mappedLocations; track location.municipality) {
          <div
            class="card mb-2"
            (mouseenter)="setFocusedLocation(location)"
            (mouseleave)="setFocusedLocation(null)"
            role="button"
            tabindex="0"
            (keyup.enter)="toggle(location)"
            (click)="toggle(location)"
            [attr.aria-expanded]="!location.collapsed"
            [attr.aria-controls]="'location-' + $index"
          >
            <dn-location
              class="card-body"
              [location]="location"
              [title]="location.municipality.name"
              [collapsedId]="'location-' + $index"
            />
          </div>
        }

        <h2 class="fs-5">Hors carte</h2>
        <p class="text-body-secondary small">
          Les lieux ci-dessous ne sont pas sur la carte parce qu'ils ne sont pas une commune de la
          Loire connue par l'application.
        </p>
        @for (location of vm.unmappedLocations; track location.location) {
          <div
            class="card unmapped mb-2"
            role="button"
            (click)="toggleUnmapped(location)"
            tabindex="0"
            (keyup.enter)="toggleUnmapped(location)"
            [attr.aria-expanded]="!location.collapsed"
            [attr.aria-controls]="'unmapped-location-' + $index"
          >
            <dn-location
              class="card-body"
              [location]="location"
              [title]="location.location || 'Non renseigné'"
              [collapsedId]="'unmapped-location-' + $index"
            />
          </div>
        }
      }
    </div>
  </div>
} @else {
  <dn-loading-spinner />
}
