<dn-page-title [title]="mode === 'mine' ? 'Mes activités' : 'Activité'" />
@if (years$ | async; as years) {
  <div>
    @for (year of years; track year.year) {
      <div class="mb-4">
        <h2 class="fs-4">{{ year.year }}</h2>
        @for (month of year.months; track month) {
          <h3 class="fs-5">{{ month.month | month }}</h3>
          @for (activity of month.activities; track activity) {
            <div
              class="card mb-2"
              [class.card-done]="activity.report && !activity.report.cancelled"
              [class.card-cancelled]="activity.report?.cancelled"
              [class.card-draft]="activity.draft"
            >
              <div class="card-body">
                <dn-activity-card [activity]="activity" />
              </div>
            </div>
          }
        }
      </div>
    }
  </div>
} @else {
  <dn-loading-spinner />
}
