<div class="row align-items-center mb-4">
  <div class="col">
    <h1>Activités</h1>
  </div>
  <div class="col-auto">
    <a routerLink="new" class="btn btn-outline-secondary">
      <dn-icon class="me-1" [icon]="icons.addActivity"></dn-icon>
      Créer une activité
    </a>
  </div>
</div>

<div *ngIf="activities$ | async as activities">
  <div *ngFor="let activity of activities" class="card mb-2">
    <div class="card-body">
      <dn-activity-card [activity]="activity"></dn-activity-card>
    </div>
  </div>
</div>
