<dn-page-title title="Export des activités" />
<h1>Export des activités</h1>

<div class="alert alert-info">
  <div class="row">
    <div class="col-auto"><dn-icon [icon]="icons.info" /></div>
    <div class="col">
      Cette page vous permet de filtrer puis de copier-coller, avec un formatage minimal, les
      informations sur les sorties.
    </div>
  </div>
</div>

<form [formGroup]="form" class="col-md-6 mb-4">
  <label for="intercommunality" class="visually-hidden">Filtre sur l'intercommunalité</label>
  <input
    formControlName="intercommunality"
    type="search"
    placeholder="Filtrer par intercommunalité"
    class="form-control"
    id="intercommunality"
    [ngbTypeahead]="intercommunalityTypeahead"
  />
</form>

<div *ngIf="months$ | async as months; else loading">
  <div *ngFor="let month of months" class="mb-4">
    <h2 class="fs-5">{{ month.month | month }}</h2>
    <dn-exportable-activity
      *ngFor="let activity of month.activities"
      [activity]="activity"
      class="d-block mb-3"
    />
  </div>
</div>
<ng-template #loading>
  <dn-loading-spinner />
</ng-template>
