@if (mode) {
  <dn-page-title [title]="mode === 'edit' ? editedActivity!.title : 'Nouvelle activité'" />
  @switch (mode) {
    @case ('create') {
      <h1>Création d'une nouvelle activité</h1>
    }
    @case ('duplicate') {
      <h1>
        Duplication de l'activité <em>{{ editedActivity!.title }}</em>
      </h1>
    }
    @case ('edit') {
      <h1>
        Modification de l'activité <em>{{ editedActivity!.title }}</em>
      </h1>
    }
  }

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col-lg">
        <div class="mb-3">
          <label for="title" class="form-label">Titre</label>
          <input formControlName="title" class="form-control" id="title" />
          <val-errors controlName="title" label="Le titre" />
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Type d'activité</label>
          <select formControlName="type" class="form-select" id="type">
            <option [value]="null"></option>
            @for (activityType of activityTypes; track activityType) {
              <option [value]="activityType.key">
                {{ activityType.label }}
                @if (activityType.example) {
                  (ex: {{ activityType.example }})
                }
              </option>
            }
          </select>
          <val-errors controlName="type" label="Le type d'activité" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            formControlName="description"
            class="form-control"
            id="description"
            rows="4"
          ></textarea>
          <val-errors controlName="description" label="La description" />
        </div>
        <div class="mb-3">
          <label for="animator" class="form-label">Animateur / Organisateur</label>
          <div class="input-group">
            <input
              #animatorInput
              formControlName="animator"
              class="form-control"
              id="animator"
              [ngbTypeahead]="animatorTypeahead"
              [focusFirst]="false"
              [inputFormatter]="animatorFormatter"
              [resultFormatter]="animatorFormatter"
              [editable]="false"
              (blur)="clearAnimatorIfNotSelected(animatorInput)"
            />
            @if (form.controls.animator.value) {
              <button type="button" class="btn btn-outline-secondary" (click)="editAnimator()">
                <dn-icon [icon]="icons.edit" />
                Consentements
              </button>
            } @else {
              <button type="button" class="btn btn-outline-secondary" (click)="addAnimator()">
                <dn-icon [icon]="icons.add" />
                Nouvel animateur
              </button>
            }
          </div>
          <val-errors controlName="animator" label="L'animateur" />
        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              formControlName="paymentRequired"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="payment-required"
            />
            <label class="form-check-label" for="payment-required">Activité payante</label>
            <div [ngbCollapse]="!form.value.paymentRequired">
              <div class="row mt-1 gx-2">
                <label for="price" class="col-auto col-form-label fw-normal">Prix</label>
                <div class="col">
                  <div class="input-group">
                    <input
                      formControlName="price"
                      type="number"
                      class="form-control"
                      id="price"
                      min="0.01"
                      step="0.01"
                    />
                    <span class="input-group-text">€</span>
                  </div>
                </div>
              </div>
              <val-errors controlName="price" label="Le prix" />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Commune du lieu de l'activité</label>
          <input
            formControlName="location"
            class="form-control"
            id="location"
            placeholder="Saisissez une partie de la commune ou de son code postal"
            [ngbTypeahead]="locationTypeahead"
            [resultFormatter]="locationResultFormatter"
            [inputFormatter]="locationInputFormatter"
            [focusFirst]="false"
          />
          <val-errors controlName="location" label="La commune du lieu de l'activité" />
        </div>
        <div class="mb-3">
          <label for="intercommunality" class="form-label">
            Intercommunalité du lieu de l'activité
          </label>
          <input formControlName="intercommunality" class="form-control" id="intercommunality" />
        </div>
        <div class="mb-3">
          <label for="appointment-location" class="form-label">Lieu du rendez-vous</label>
          <input
            formControlName="appointmentLocation"
            class="form-control"
            id="appointment-location"
          />
          <val-errors controlName="appointmentLocation" label="Le lieu de rendez-vous" />
        </div>
        <ng-container formGroupName="timing">
          <div class="mb-3">
            <label for="start-date" class="form-label">Début de l'activité (rendez-vous)</label>
            <div class="row g-1">
              <div class="col-8">
                <input
                  type="date"
                  formControlName="startDate"
                  class="form-control"
                  id="start-date"
                  [min]="minDate"
                />
              </div>
              <div class="col">
                <label for="start-time" class="visually-hidden">Heure de rendez-vous</label>
                <input
                  type="time"
                  formControlName="startTime"
                  class="form-control"
                  id="start-time"
                />
              </div>
            </div>
            <val-errors controlName="startDate" label="La date de début de l'activité" />
            <val-errors controlName="startTime" label="L'heure de début de l'activité" />
          </div>
          <div class="mb-3">
            <label for="end-date" class="form-label">Fin de l'activité</label>
            <div class="row g-1">
              <div class="col-8">
                <input
                  type="date"
                  formControlName="endDate"
                  class="form-control"
                  id="end-date"
                  [min]="minDate"
                />
              </div>
              <div class="col">
                <label for="end-time" class="visually-hidden">Heure de fin de l'activité</label>
                <input type="time" formControlName="endTime" class="form-control" id="end-time" />
              </div>
            </div>
            <val-errors controlName="endDate" label="La date de fin de l'activité" />
            <val-errors controlName="endTime" label="L'heure de fin de l'activité" />
            <val-errors [control]="form.get('timing')">
              <ng-template valError="timing">
                La fin de l'activité doit être ultérieure à son début
              </ng-template>
            </val-errors>
          </div>
        </ng-container>
      </div>
      <div class="col-lg">
        <div class="row gx-2">
          <div class="col-sm mb-3">
            <label for="min-number-of-participants" class="form-label">
              Nb. min. de participants
            </label>
            <input
              formControlName="minNumberOfParticipants"
              type="number"
              class="form-control"
              id="min-number-of-participants"
              step="1"
              min="1"
              placeholder="Laisser vide s'il n'y a pas de limite"
            />
            <val-errors
              controlName="minNumberOfParticipants"
              label="Le nombre min. de participants"
            />
          </div>
          <div class="col-sm mb-3">
            <label for="max-number-of-participants" class="form-label">
              Nb. max. de participants
            </label>
            <input
              formControlName="maxNumberOfParticipants"
              type="number"
              class="form-control"
              id="max-number-of-participants"
              step="1"
              min="1"
              placeholder="Laisser vide s'il n'y a pas de limite"
            />
            <val-errors
              controlName="maxNumberOfParticipants"
              label="Le nombre max. de participants"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="room-to-book" class="form-label"> Salle à réserver </label>
          <input
            formControlName="roomToBook"
            class="form-control"
            id="room-to-book"
            [ngbTypeahead]="roomTypeahead"
            [focusFirst]="false"
            placeholder="Laisser vide s'il n'y a pas de salle à réserver"
          />
        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              formControlName="bookingMandatory"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="booking-mandatory"
            />
            <label class="form-check-label" for="booking-mandatory">Réservation obligatoire</label>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="membersOnly"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="members-only"
            />
            <label class="form-check-label" for="members-only">Réservée aux adhérents</label>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="accessible"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="accessible"
            />
            <label class="form-check-label" for="accessible">
              Accessible aux personnes à mobilité réduite
            </label>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="accessibleToChildren"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="accessible-to-children"
            />
            <label class="form-check-label" for="accessible-to-children">
              Accessible aux enfants
            </label>
            <div [ngbCollapse]="!form.value.accessibleToChildren">
              <div class="row gx-2 mt-1">
                <label class="col-auto col-form-label fw-normal" for="min-children-age">
                  à partir de
                </label>
                <div class="col">
                  <div class="input-group">
                    <input
                      formControlName="minChildrenAge"
                      type="number"
                      class="form-control"
                      id="min-children-age"
                      min="1"
                      placeholder="Laisser vide si pas d'age minimum"
                    />
                    <span class="input-group-text">ans</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Labels de l'activité</label>
          <dn-multi-choice
            formControlName="labels"
            [knownOptions]="knownLabels"
            addText="Ajouter un label"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Activité organisée en partenariat avec</label>
          <dn-multi-choice
            formControlName="associatedOrganizations"
            [knownOptions]="knownOrganizations"
            addText="Ajouter une association / organisation"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Matériel spécifique nécessaire</label>
          <dn-multi-choice
            formControlName="equipments"
            [knownOptions]="knownEquipments"
            addText="Ajouter un matériel"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="comment">Commentaire</label>
          <textarea
            formControlName="comment"
            class="form-control"
            id="comment"
            rows="4"
            placeholder="Saisissez ici tout commentaire qui vous semblerait utile concernant cette activité, en particulier ce qui peut être nécessaire à la LPO. S'il s'agit d'un brouillon, indiquez ce qui est encore inconnu."
          ></textarea>
        </div>

        @if (shouldDisplayUseSamePictures) {
          <div class="mb-3">
            <div class="form-check form-switch">
              <input
                formControlName="useSamePictures"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="use-same-pictures"
              />
              <label class="form-check-label" for="use-same-pictures">
                Réutiliser les photos de l'activité originale
              </label>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="d-grid gap-2 d-sm-block text-sm-end">
      @if (maySaveAsDraft) {
        <button
          class="btn btn-warning me-sm-2"
          [disabled]="savingWhateverTheMode()"
          (click)="draftManager.switchTo('draft')"
        >
          <dn-spinning-icon
            [icon]="icons.saveAsDraft"
            [spinner]="savingAsDraft"
            message="enregistrement en cours..."
          />
          Enregistrer en brouillon
        </button>
      }

      <button
        class="btn btn-primary"
        [disabled]="savingWhateverTheMode()"
        (click)="draftManager.switchTo('final')"
        id="save-button"
      >
        <dn-spinning-icon
          [icon]="icons.save"
          [spinner]="saving"
          message="enregistrement en cours..."
        />
        Enregistrer
      </button>
    </div>
  </form>
}
