<ng-container *ngIf="mode">
  <h1 *ngIf="mode === 'create' || mode === 'duplicate'">Création d'une nouvelle activité</h1>
  <h1 *ngIf="mode === 'edit'">
    Modification de l'activité <em>{{ editedActivity!.title }}</em>
  </h1>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col-lg">
        <div class="mb-3">
          <label for="title" class="form-label">Titre</label>
          <input formControlName="title" class="form-control" id="title" />
          <val-errors controlName="title" label="Le titre"></val-errors>
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Type d'activité</label>
          <select formControlName="type" class="form-select" id="type">
            <option [value]="null"></option>
            <option *ngFor="let activityType of activityTypes" [value]="activityType.key">
              {{ activityType.label }}
              <ng-container *ngIf="activityType.example">
                (ex: {{ activityType.example }})
              </ng-container>
            </option>
          </select>
          <val-errors controlName="type" label="Le type d'activité"></val-errors>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            formControlName="description"
            class="form-control"
            id="description"
            rows="4"
          ></textarea>
          <val-errors controlName="description" label="La description"></val-errors>
        </div>
        <div class="mb-3">
          <label for="animator" class="form-label">Animateur / Organisateur</label>
          <input
            formControlName="animator"
            class="form-control"
            id="animator"
            [ngbTypeahead]="animatorTypeahead"
            [focusFirst]="false"
          />
          <val-errors controlName="animator" label="L'animateur"></val-errors>
        </div>
        <div class="mb-3">
          <div class="row align-items-baseline">
            <div class="col-sm">
              <div class="form-check form-switch">
                <input
                  formControlName="paymentRequired"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="payment-required"
                />
                <label class="form-check-label" for="payment-required"> Activité payante </label>
              </div>
            </div>
            <div class="col-sm">
              <ng-container *ngIf="form.value.paymentRequired">
                <div class="row">
                  <label for="price" class="col-sm-4 col-form-label">Prix</label>
                  <div class="col-sm">
                    <div class="input-group">
                      <input
                        formControlName="price"
                        type="number"
                        class="form-control"
                        id="price"
                        min="0.01"
                        step="0.01"
                      />
                      <span class="input-group-text">€</span>
                    </div>
                  </div>
                </div>
                <val-errors controlName="price" label="Le prix"></val-errors>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Commune du lieu de l'activité</label>
          <input
            formControlName="location"
            class="form-control"
            id="location"
            placeholder="Saisissez une partie de la commune ou de son code postal"
            [ngbTypeahead]="locationTypeahead"
            [resultFormatter]="locationResultFormatter"
            [inputFormatter]="locationInputFormatter"
            [focusFirst]="false"
          />
          <val-errors controlName="location" label="La commune du lieu de l'activité"></val-errors>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Intercommunalité du lieu de l'activité</label>
          <input formControlName="intercommunality" class="form-control" id="intercommunality" />
        </div>
        <div class="mb-3">
          <label for="appointment-location" class="form-label">Lieu du rendez-vous</label>
          <input
            formControlName="appointmentLocation"
            class="form-control"
            id="appointment-location"
          />
          <val-errors controlName="appointmentLocation" label="Le lieu de rendez-vous"></val-errors>
        </div>
        <ng-container formGroupName="timing">
          <div class="mb-3">
            <label for="start-date" class="form-label">Début de l'activité (rendez-vous)</label>
            <div class="row g-1">
              <div class="col-8">
                <input
                  type="date"
                  formControlName="startDate"
                  class="form-control"
                  id="start-date"
                  [min]="minDate"
                />
              </div>
              <div class="col">
                <label for="start-date" class="visually-hidden">Heure de rendez-vous</label>
                <input
                  type="time"
                  formControlName="startTime"
                  class="form-control"
                  id="start-time"
                />
              </div>
            </div>
            <val-errors controlName="startDate" label="La date de début de l'activité"></val-errors>
            <val-errors controlName="startTime" label="L'heure de début de l'activité"></val-errors>
          </div>
          <div class="mb-3">
            <label for="start-date" class="form-label">Fin de l'activité</label>
            <div class="row g-1">
              <div class="col-8">
                <input
                  type="date"
                  formControlName="endDate"
                  class="form-control"
                  id="end-date"
                  [min]="minDate"
                />
              </div>
              <div class="col">
                <label for="end-date" class="visually-hidden">Heure de fin de l'activité</label>
                <input type="time" formControlName="endTime" class="form-control" id="end-time" />
              </div>
            </div>
            <val-errors controlName="endDate" label="La date de fin de l'activité"></val-errors>
            <val-errors controlName="endTime" label="L'heure de fin de l'activité"></val-errors>
            <val-errors [control]="form.get('timing')">
              <ng-template valError="timing">
                La fin de l'activité doit être ultérieure à son début
              </ng-template>
            </val-errors>
          </div>
        </ng-container>
      </div>
      <div class="col-lg">
        <div class="row mb-3">
          <div class="col-sm mb-3 mb-lg-0">
            <label for="max-number-of-participants" class="form-label"
              >Nb. max de participants</label
            >
            <input
              formControlName="maxNumberOfParticipants"
              type="number"
              class="form-control"
              id="max-number-of-participants"
              step="1"
              min="1"
              placeholder="Laisser vide s'il n'y a pas de limite"
            />
            <val-errors
              controlName="maxNumberOfParticipants"
              label="Le nombre max de participants"
            ></val-errors>
            <span class="form-text"></span>
          </div>
          <div class="col-sm">
            <label for="room-to-book" class="form-label"> Salle à réserver </label>
            <input
              formControlName="roomToBook"
              class="form-control"
              id="room-to-book"
              [ngbTypeahead]="roomTypeahead"
              [focusFirst]="false"
              placeholder="Laisser vide s'il n'y a pas de salle à réserver"
            />
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              formControlName="bookingMandatory"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="booking-mandatory"
            />
            <label class="form-check-label" for="booking-mandatory">Réservation obligatoire</label>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="membersOnly"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="members-only"
            />
            <label class="form-check-label" for="members-only">Réservée aux adhérents</label>
          </div>
          <div class="form-check form-switch">
            <input
              formControlName="accessible"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="accessible"
            />
            <label class="form-check-label" for="accessible"
              >Accessible aux personnes à mobilité réduite</label
            >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Labels de l'activité</label>
          <dn-multi-choice
            formControlName="labels"
            [knownOptions]="knownLabels"
            addText="Ajouter un label"
          ></dn-multi-choice>
        </div>
        <div class="mb-3">
          <label class="form-label">Activité organisée en partenariat avec</label>
          <dn-multi-choice
            formControlName="associatedOrganizations"
            [knownOptions]="knownOrganizations"
            addText="Ajouter une association / organisation"
          ></dn-multi-choice>
        </div>
        <div class="mb-3">
          <label class="form-label" for="comment">Commentaire</label>
          <textarea
            formControlName="comment"
            class="form-control"
            id="comment"
            rows="4"
            placeholder="Saisissez ici tout commentaire qui vous semblerait utile concernant cette activité, en particulier ce qui peut être nécessaire à la LPO."
          ></textarea>
        </div>
      </div>
    </div>

    <div class="text-end">
      <button class="btn btn-primary" [disabled]="(saving.isSpinning | async) === true">
        <dn-icon
          class="me-1"
          [icon]="icons.save"
          *ngIf="(saving.isSpinning | async) === false"
        ></dn-icon>
        <div
          *ngIf="(saving.isSpinning | async) === true"
          class="spinner-border spinner-border-sm me-1"
          role="status"
        ></div>
        Enregistrer
      </button>
    </div>
  </form>
</ng-container>
