<ng-container *ngIf="activity$ | async as activity">
  <dn-page-title [title]="activity.title"></dn-page-title>
  <h1>{{ activity.title }}</h1>
  <div class="border rounded p-3">
    <div class="row gy-3">
      <div class="col-lg-4">
        <div>
          <strong>
            <dn-icon class="me-1" [icon]="icons.date"></dn-icon>
            <span class="visually-hidden">Date de l'activité</span>
            <span>{{ activity | activityDate: 'time' }}</span>
          </strong>
        </div>
        <div class="badge bg-dark">{{ activity.type | activityType }}</div>
        <div *ngIf="activity.draft" class="badge bg-warning text-black ms-1">brouillon</div>
        <p class="text-muted mt-1" style="white-space: pre-line">{{ activity.description }}</p>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="info-card rounded p-2 flex-grow-1">
          <div *ngIf="activity.location">
            <dn-icon class="me-1" [icon]="icons.location"></dn-icon>
            <span class="visually-hidden">Lieu</span>
            <span>{{ activity.location }}</span>
            <span *ngIf="activity.intercommunality"> &ndash; {{ activity.intercommunality }}</span>
          </div>
          <div *ngIf="activity.appointmentLocation">
            <dn-icon class="me-1" [icon]="icons.appointmentLocation"></dn-icon>
            <span class="visually-hidden">Lieu de rendez-vous</span>
            <span>{{ activity.appointmentLocation }}</span>
          </div>
          <div>
            <dn-icon class="me-1" [icon]="icons.animator"></dn-icon>
            <span class="visually-hidden">Animateur / Organisateur</span>
            <span>{{ activity.animator }}</span>
          </div>
          <div *ngIf="activity.roomToBook">
            <dn-icon class="me-1" [icon]="icons.roomToBook"></dn-icon>
            <span>Salle {{ activity.roomToBook }} à réserver</span>
          </div>
          <div>
            <div *ngFor="let label of activity.labels" class="badge bg-secondary me-1 mb-1">
              <dn-icon class="me-1" [icon]="icons.label"></dn-icon>
              <span>{{ label }}</span>
            </div>
          </div>
          <div>
            <div
              *ngFor="let org of activity.associatedOrganizations"
              class="badge bg-success me-1 mb-1"
            >
              <dn-icon class="me-1" [icon]="icons.associatedOrganization"></dn-icon>
              <span>{{ org }}</span>
            </div>
          </div>
          <div>
            <div *ngFor="let equipment of activity.equipments" class="badge bg-pink me-1 mb-1">
              <dn-icon class="me-1" [icon]="icons.equipment"></dn-icon>
              <span>{{ equipment }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="info-card rounded p-2 flex-grow-1">
          <div *ngIf="activity.bookingMandatory">
            <dn-icon class="me-1" [icon]="icons.bookingMandatory"></dn-icon>
            <span>Réservation obligatoire</span>
          </div>
          <div *ngIf="!activity.bookingMandatory">
            <dn-icon class="me-1" [icon]="icons.bookingNotMandatory"></dn-icon>
            <span>Sans réservation nécessaire</span>
          </div>
          <div *ngIf="activity.membersOnly">
            <dn-icon class="me-1" [icon]="icons.membersOnly"></dn-icon>
            <span>Réservée aux adhérents</span>
          </div>
          <div *ngIf="!activity.membersOnly">
            <dn-icon class="me-1" [icon]="icons.notMembersOnly"></dn-icon>
            <span>Ouverte aux non-adhérents</span>
          </div>
          <div *ngIf="activity.accessible">
            <dn-icon class="me-1" [icon]="icons.accessible"></dn-icon>
            <span>Accessible aux personnes à mobilité réduite</span>
          </div>
          <div *ngIf="!activity.accessible">
            <dn-icon class="me-1" [icon]="icons.notAccessible"></dn-icon>
            <span>Non-accessible aux personnes à mobilité réduite</span>
          </div>
          <div *ngIf="activity.paymentRequired">
            <dn-icon class="me-1" [icon]="icons.paymentRequired"></dn-icon>
            <span>{{ activity.price | currency: 'EUR':'symbol-narrow' }}</span>
          </div>
          <div *ngIf="!activity.paymentRequired">
            <dn-icon class="me-1" [icon]="icons.paymentNotRequired"></dn-icon>
            <span>Gratuit</span>
          </div>
          <div>
            <dn-icon class="me-1" [icon]="icons.participants"></dn-icon>
            <span *ngIf="activity.maxNumberOfParticipants"
              >{{ activity.maxNumberOfParticipants | number }} participants maximum</span
            >
            <span *ngIf="!activity.maxNumberOfParticipants">Pas de limite de participants</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activity.comment" class="comment mt-3">
      <div class="p-3" style="white-space: pre-line">{{ activity.comment }}</div>
    </div>
    <div class="text-muted small text-end mt-1">
      <em>
        Activité créée par {{ activity.author.displayName }}.
        <ng-container *ngIf="activity.lastModifier">
          Modifiée en dernier par {{ activity.lastModifier.displayName }}.
        </ng-container>
      </em>
    </div>
    <div class="d-grid gap-2 d-sm-block text-sm-end mt-3">
      <a
        class="btn btn-outline-primary me-sm-2"
        [routerLink]="['/activities', activity.id, 'edit']"
      >
        <dn-icon class="me-1" [icon]="icons.edit"></dn-icon>
        Modifier
      </a>
      <a
        class="btn btn-outline-primary me-sm-2"
        [routerLink]="['/activities', activity.id, 'duplicate']"
      >
        <dn-icon class="me-1" [icon]="icons.duplicate"></dn-icon>
        Dupliquer
      </a>
      <button type="button" class="btn btn-outline-danger" (click)="deleteActivity(activity)">
        <dn-icon class="me-1" [icon]="icons.delete"></dn-icon>
        Supprimer
      </button>
    </div>
  </div>

  <ng-container *ngIf="currentUser$ | async as currentUser">
    <div *ngIf="activity.report && !editingReport" class="mt-3 border rounded p-3">
      <h2 class="fs-4">Rapport</h2>
      <dn-activity-report [report]="activity.report"></dn-activity-report>
      <div *ngIf="currentUser.admin" class="mt-3">
        <button type="button" class="btn btn-outline-secondary" (click)="editingReport = true">
          <dn-icon [icon]="icons.edit" class="me-1"></dn-icon>
          Modifier le rapport
        </button>
        <button
          *ngIf="activity.report"
          type="button"
          class="btn btn-outline-danger ms-2"
          (click)="deleteReport(activity)"
        >
          <dn-icon [icon]="icons.delete" class="me-1"></dn-icon>
          Supprimer le rapport
        </button>
      </div>
    </div>
    <div *ngIf="!activity.report && !editingReport && currentUser.admin" class="mt-3">
      <button type="button" class="btn btn-outline-secondary" (click)="editingReport = true">
        <dn-icon [icon]="icons.edit" class="me-1"></dn-icon>
        Remplir le rapport
      </button>
    </div>
    <div *ngIf="editingReport" class="mt-3 border rounded p-3">
      <dn-activity-report-edition
        *ngIf="editingReport"
        [report]="activity.report"
        (saved)="updateReport(activity, $event)"
        (cancelled)="editingReport = false"
      ></dn-activity-report-edition>
    </div>
  </ng-container>
</ng-container>
