<ng-container *ngIf="vm$ | async as vm">
  <div class="modal-header">
    <h1 class="fs-4 modal-title">Lien de réinitialisation de mot de passe</h1>
    <button
      type="button"
      class="btn-close"
      aria-label="Fermer"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div *ngIf="vm.resetPasswordLinkInfo; else noLink">
      <p class="text-success">Le lien a été créé.</p>
      <button
        type="button"
        class="btn btn-link btn-sm text-start"
        (click)="copyEmail(vm.resetPasswordLinkInfo)"
      >
        <dn-icon [icon]="icons.resetPasswordEmail" class="me-1" />
        Copier le message à envoyer
      </button>
    </div>
    <ng-template #noLink>
      <p>
        Cette action ne devrait pas être nécessaire, à moins qu'un utilisateur ne parvienne pas à
        recevoir les emails qui lui sont envoyés directement par le site pour choisir ou
        réinitialiser son mot de passe.
        <br />
        Dans ce cas, tu peux demander un lien, puis lui envoyer directement.
      </p>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="vm.resetPasswordLinkInfo"
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.dismiss()"
    >
      Fermer
    </button>
    <button
      *ngIf="!vm.resetPasswordLinkInfo"
      type="button"
      class="btn btn-secondary"
      (click)="generateResetPasswordLink()"
      [disabled]="(generating.isSpinning | async) === true"
    >
      <dn-spinning-icon
        [icon]="icons.resetPasswordLink"
        [spinner]="generating"
        message="demande en cours..."
      />
      Demander un lien
    </button>
  </div>
</ng-container>
