@if (vm$ | async; as vm) {
  <div class="modal-header">
    <h1 class="fs-4 modal-title">Lien de réinitialisation de mot de passe</h1>
    <button
      type="button"
      class="btn-close"
      aria-label="Fermer"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    @if (vm.resetPasswordLinkInfo) {
      <div>
        <p class="text-success">Le lien a été créé.</p>
        <button
          type="button"
          class="btn btn-link btn-sm text-start"
          (click)="copyEmail(vm.resetPasswordLinkInfo)"
        >
          <dn-icon [icon]="icons.resetPasswordEmail" class="me-1" />
          Copier le message à envoyer
        </button>
      </div>
    } @else {
      <p>
        Cette action ne devrait pas être nécessaire, à moins qu'un utilisateur ne parvienne pas à
        recevoir les emails qui lui sont envoyés directement par le site pour choisir ou
        réinitialiser son mot de passe.
        <br />
        Dans ce cas, tu peux demander un lien, puis lui envoyer directement.
      </p>
    }
  </div>
  <div class="modal-footer">
    @if (vm.resetPasswordLinkInfo) {
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
        Fermer
      </button>
    } @else {
      <button
        type="button"
        class="btn btn-secondary"
        (click)="generateResetPasswordLink()"
        [disabled]="generating.isSpinning()"
      >
        <dn-spinning-icon
          [icon]="icons.resetPasswordLink"
          [spinner]="generating"
          message="demande en cours..."
        />
        Demander un lien
      </button>
    }
  </div>
}
