<ng-container *ngIf="vm$ | async as vm">
  <h1 class="text-center">Découvertes Natures de la LPO Loire</h1>

  <div class="row justify-content-center">
    <div class="mb-4 col col-lg-8">
      <div class="position-relative">
        <img src="/assets/birds.jpg" class="w-100" />
        <p *ngIf="vm.user" class="m-3 p-2 rounded lead text-white fs-4 darken" style="position: absolute; left: 0; bottom: 0;">
          C'est aussi grâce à vous, {{ vm.user | username }}, que les gens découvrent la nature.
          <br/>
          Bravo, et merci&nbsp;!
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!vm.user" class="text-center">
    <div>
      <a class="btn btn-primary btn-lg" routerLink="/login">
        <span class="me-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        </span>
        Identification
      </a>
    </div>
  </div>
</ng-container>
