<ng-container *ngIf="vm$ | async as vm">
  <h1 class="text-center">Découvertes Nature de la LPO Loire</h1>

  <div class="row justify-content-center">
    <div class="mb-4 col col-lg-8">
      <div class="position-relative">
        <img src="/assets/birds.jpg" class="w-100" />
        <p
          *ngIf="vm.user"
          class="m-3 p-2 rounded lead text-white fs-4 darken"
          style="position: absolute; left: 0; bottom: 0"
        >
          C'est aussi grâce à vous, {{ vm.user | username }}, que les gens découvrent la nature.
          <br />
          Bravo, et merci&nbsp;!
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!vm.user" class="text-center">
    <div>
      <a class="btn btn-primary btn-lg" routerLink="/login">
        <dn-icon class="me-1" [icon]="icons.login"></dn-icon>
        Identification
      </a>
    </div>
  </div>
</ng-container>
