// make the placeholders lighter
$input-placeholder-color: #dcdedf;
// remove decoration of links
$link-decoration: none;

$enable-validation-icons: false;

$primary: #0075bf;

$form-label-margin-bottom: .2rem;
$form-label-font-weight: 500;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
