<div class="d-flex justify-content-center align-items-center">
  <button type="button" class="btn btn-link" (click)="changeYear(year() - 1)">
    <span class="visually-hidden">Année précédente ({{ year() - 1 | number }})</span>
    <dn-icon [icon]="icons.left" class="fs-3" />
  </button>
  <h2 class="mx-2">{{ year() }}</h2>
  <button type="button" class="btn btn-link" (click)="changeYear(year() + 1)">
    <span class="visually-hidden">Année suivante ({{ year() + 1 | number }})</span>
    <dn-icon [icon]="icons.right" class="fs-3" />
  </button>
</div>
